@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap");
body {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    padding-bottom: 2em;
}

nav ul li#rightButtons {
    float: right;
}

nav ul li#leftButtons {
    float: left;
}

li a#buttons {
    display: block;
    text-align: center;
    padding: 1.3vw 16px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    color: black;
}

li a#buttons:hover {
    color: red;
}

img#navPic {
    margin-top: 0;
    padding: 0;
    padding-top: 0.3em;
    width: 2vw;
    margin-left: 2.4vw;
}

.dropbtn {
    background-color: #f6f6f6;
    color: #000;
    padding-left: 1.1vw;
    font-size: 1.1vw;
    border: none;
}

.dropdown {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: red;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: red;
}

.main-content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.main-content h2 {
    background-color: aquamarine;
}

.side-article-contents {
    position: absolute;
    right: 15px;
    margin-top: 50px;
    width: 175px;
    height: 525px;
    padding: 15px;
    padding-left: 10px;
    border: 2px solid darkgray;
    border-style: ridge;
    border-radius: 25px;
    background-color: white;
}

.contents-header {
    color: black;
    font-size: 2em;
    text-align: left;
    padding: 5px;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}

.contents-link {
    color: darkblue;
    font-size: 1em;
    text-align: left;
}

.contents-footer {
    border-top: 2px solid darkgray;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar {
    background-color: rgb(36, 36, 36);
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    width:11%;
    padding-top: 15px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.navbar a.active {
    background-color: rgb(0, 0, 0);
    color: white;
}

.navbar .hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}